In [1]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import zscore
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import LabelEncoder
from mpl_toolkits.mplot3d import Axes3D

## Data Encoding

In [2]:
df = pd.read_csv("./datasets/step1_output.csv")

In [3]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder

dropping useless columns

In [4]:
color=df.color

In [5]:
df=df.drop('color',axis=1)

### Feature selection

In [6]:
gender=df.gender
df=df.drop('gender',axis=1)

In [7]:
PhoneService=df.PhoneService
df=df.drop('PhoneService',axis=1)

In [8]:
df.MultipleLines.unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [9]:
df['PhoneService'] = df['MultipleLines'].map(
    {'No phone service': 'No phone service', 'No': 'Single line', 'Yes': 'Multiple lines'}).astype(str)

df=df.drop('MultipleLines',axis=1)

In [10]:
df=df.drop(['OnlineSecurity','OnlineBackup','DeviceProtection'
            ,'TechSupport','StreamingTV','StreamingMovies'],axis=1)

In [11]:
df=df.drop('Partner',axis=1)

In [12]:
# df.tenure=(df.tenure/12).astype(int)

In [13]:
df.TotalCharges = df.TotalCharges.replace(' ',np.nan)
df.TotalCharges=df.TotalCharges.astype(float)

In [14]:
df=df.drop('TotalCharges',axis=1)

In [15]:
# a, b=np.histogram(df['MonthlyCharges'],bins='fd')
# b=b.astype(int)
# b[-1]=b[-1]+1
# df['MonthlyChargesBins']=pd.cut(df['MonthlyCharges'], b, right=False)

In [16]:
# df['MonthlyChargesGroups']=df.MonthlyChargesBins.replace(np.sort(df.MonthlyChargesBins.unique()),np.arange(18))
# df=df.drop(['MonthlyCharges','MonthlyChargesBins'],axis=1)

In [17]:
df['SeniorCitizen'] = df['SeniorCitizen'].map(
    {0: 'No', 1: 'Yes'}).astype(str)

In [18]:
df.head()

,SeniorCitizen,Dependents,tenure,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn,ServiceCount,PhoneService
0,No,No,1,DSL,Month-to-month,Yes,Electronic check,29.85,No,1,No phone service
1,No,No,34,DSL,One year,No,Mailed check,56.95,No,2,Single line
2,No,No,2,DSL,Month-to-month,Yes,Mailed check,53.85,Yes,2,Single line
3,No,No,45,DSL,One year,No,Bank transfer (automatic),42.30,No,3,No phone service
4,No,No,2,Fiber optic,Month-to-month,Yes,Electronic check,70.70,Yes,0,Single line

In [20]:
label_encoders = dict()
column2encode = ['Dependents','InternetService','Contract',
                 'PaperlessBilling','PaymentMethod','PhoneService']

for col in column2encode:
    le = LabelEncoder()
    le.fit(df[col].unique())
    df[col] = le.transform(df[col])
    label_encoders[col] = le

In [19]:
df.to_csv('./datasets/datasetFINALE.csv', index=False)

In [21]:
df.head()

,SeniorCitizen,Dependents,tenure,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn,ServiceCount,PhoneService
0,No,0,1,0,0,1,2,29.85,No,1,1
1,No,0,34,0,1,0,3,56.95,No,2,2
2,No,0,2,0,0,1,3,53.85,Yes,2,2
3,No,0,45,0,1,0,0,42.30,No,3,1
4,No,0,2,1,0,1,2,70.70,Yes,0,2

In [22]:
df.describe()

,Dependents,tenure,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,ServiceCount,PhoneService
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.299588,32.371149,0.872923,0.690473,0.592219,1.574329,64.761692,2.037910,1.059492
std,0.458110,24.559481,0.737796,0.833755,0.491457,1.068104,30.090047,1.847682,0.948554
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.000000
25%,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,35.500000,0.000000,0.000000
50%,0.000000,29.000000,1.000000,0.000000,1.000000,2.000000,70.350000,2.000000,1.000000
75%,1.000000,55.000000,1.000000,1.000000,1.000000,2.000000,89.850000,3.000000,2.000000
max,1.000000,72.000000,2.000000,2.000000,1.000000,3.000000,118.750000,6.000000,2.000000

In [23]:
ddf = df
column2decode = ['Dependents','InternetService','Contract',
                 'PaperlessBilling','PaymentMethod','PhoneService']

for col in column2decode:
    ddf[col] = label_encoders[col].inverse_transform(df[col])

In [24]:
ddf.head()

,SeniorCitizen,Dependents,tenure,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn,ServiceCount,PhoneService
0,No,No,1,DSL,Month-to-month,Yes,Electronic check,29.85,No,1,No phone service
1,No,No,34,DSL,One year,No,Mailed check,56.95,No,2,Single line
2,No,No,2,DSL,Month-to-month,Yes,Mailed check,53.85,Yes,2,Single line
3,No,No,45,DSL,One year,No,Bank transfer (automatic),42.30,No,3,No phone service
4,No,No,2,Fiber optic,Month-to-month,Yes,Electronic check,70.70,Yes,0,Single line